div {
    border: 3px solid black;
}

#game-board {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

#game-board > div {
    width: 50%;
}

#game-board > p {
    margin-top: auto;
}

#deal {
    margin-top: 25px;
    width: 32vw;
    height: 8vh;
    background-color: cadetblue;
}

#hit {
    margin-top: 10px;
    width: 32vw;
    height: 8vh;
    background-color: lightgreen;
}

#stand {
    margin-top: 25px;
    width: 32vw;
    height: 8vh;
    background-color: firebrick;
}

#restart {
    margin-top: 10px;
}
#message {
    height: 10vh;
    font-size: 40px;
    display: flex;
    justify-content: space-around;   
}